@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Manrope:wght@400;500;700&display=swap');


@theme {
    --font-heading: "Karla", sans-serif;
    --font-body: "Manrope", sans-serif;

    --color-primary-50: #F5F7F7;
    --color-primary-100: #EBF0EF;
    --color-primary-200: #CBD6D4;
    --color-primary-300: #AEBFBB;
    --color-primary-400: #798F89;
    --color-primary-500: #495E57;
    --color-primary-600: #3B544B;
    --color-primary-700: #29473B;
    --color-primary-800: #1A382A;
    --color-primary-900: #0F2B1D;
    --color-primary-950: #061C10;

    --color-secondary-50: #FFFEF2;
    --color-secondary-100: #FFFDE8;
    --color-secondary-200: #FCF7C2;
    --color-secondary-300: #FAEF9D;
    --color-secondary-400: #F7E259;
    --color-secondary-500: #f4ce14;
    --color-secondary-600: #DBB30F;
    --color-secondary-700: #B88A0B;
    --color-secondary-800: #946507;
    --color-secondary-900: #6E4404;
    --color-secondary-950: #472701;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


